<!doctype html>
<html>
<head>
<script>function utmx_section(){}function utmx(){}(function(){var
k='142205918-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
  <title> List of Videos for your workout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <!-- this is a comment in HTML -->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <ul class="topnav" id="topNav">
      <li><a class="name" href="/"><img id="logo" src="/img/TBDLogo.png"></a></li>
      <li class="right"><a href="login"><img src="/img/user.png" width="24"></a></li>
    </ul>
    <div class="container">


      <h1> {{type}} Workout Results </h1>
      {{#each workout}}
      <div class="videoContainer" style="text-align:center">
        <h2> {{name}} </h2>
        <iframe width="560" height="315" src={{video}} frameborder="0" allowfullscreen></iframe>
        <br>
        <!--<a href="yourlist?id={{video}}"><img src="/img/add.png" width="24"></a>-->
        <a href=addWorkoutToList?id={{video}}&name={{name}}&desc={{Description}}&info={{info}}> <img src="/img/add.png" width="24"></a>
        <!-- <a href="#" id="{{video}}"><img src="/img/remove.png" width="24"></a> -->
        <a class="test" href="#" id="{{video}}"> <img src="/img/starblack.png" width="24"></a>
        <p> </p>
      </div>
      {{/each}}   

    
      <!--
      <video width="320" height="240" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
      <br>
      <a href="yourlist"> + </a>
      <br>
      <a href="#"> - </a>
      <br>
      <a href="#"> Favorite </a>
    -->
  </div>
  <ul class="botnav" id="botNav">
    <li><a class="active" href="myworkout"><img src="/img/weightliftinggray.png"><br>My Workout</a></li>
    <li><a href="dailylog"><img src="/img/calendargray.png"><br>Daily Log</a></li>
    <li><a href="favorites"><img src="/img/stargray.png"><br>Favorites</a></li>
    <li><a href="notes"><img src="/img/notepadgray.png"><br>Notes</a></li>
  </ul>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script src="/js/jQuery-rwdImageMaps/jquery.rwdImageMaps.min.js"> </script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script>
    $(document).ready(function() {
      $(".test").click(function(e) {
        console.log("test");
        console.log(this.id);
        $.get('addFavorite?id=' + this.id);

        var currColor = $(this).css("color");
        console.log(currColor);
        if(currColor == "rgb(42, 100, 150)") {
          $(this).css("color", "yellow");
        }
        else {
          $(this).css("color", "black");
        }
      });

    });
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93223413-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
